.notes {
	width: 100%;
	padding: vm(30) 0;

	&__heading {

		@include devices {
			display: none;
		}

		@include desktop {
			font-size: vw(32);
			line-height: vw(38);
			margin: 0 0 vw(30) 0;
			font-family: $font-secondary;
		}

		@include low-screen {
			font-size: vh(32);
			line-height: vh(38);
			margin: 0 0 vh(30) 0;
		}
	}

	@include desktop {
		padding: vw(30) 0;
	}

	@include low-screen {
		padding: vh(30) 0;
	}
}