.note {
    box-sizing: border-box;
    min-height: vm(140);
    background-color: $color-white;
    margin: 0 0 vm(20) 0;
    color: $color-black;
    padding: vm(10) vm(15) vm(15) vm(15);

    &__buttons {

        a {
            background-color: $color-accent;
            margin: 0 vm(12) 0 0;

            @include desktop {
                margin: 0 vw(12) 0 0;
            }

            @include low-screen {
                margin: 0 vh(12) 0 0;
            }
        }

        button {
            border: none;

            &:first-of-type {
                margin: 0 vm(12) 0 0;

                @include desktop {
                    margin: 0 vw(12) 0 0;
                }

                @include low-screen {
                    margin: 0 vh(12) 0 0;
                }
            }
        }
    }

    &__content {
        margin: 0 0 vm(20) 0;
        
        @include desktop {
            margin: 0 0 vw(20) 0;
        }

        @include low-screen {
            margin: 0 0 vh(20) 0;
        }
    }

    &__title {
        font-weight: 500;
        font-size: vm(22);
        line-height: vm(28);
        padding: 0 0 vm(12) 0;
        border-bottom: 3px solid $color-background;
        margin: 0 0 vm(12) 0;

        @include desktop {
            font-size: vw(22);
            line-height: vw(28);
            padding: 0 0 vw(12) 0;
            margin: 0 0 vw(12) 0;
        }

        @include low-screen {
            font-size: vh(22);
            line-height: vh(28);
            padding: 0 0 vh(12) 0;
            margin: 0 0 vh(12) 0;
        }
    }
    
    @include desktop {
        min-height: vw(140);
        margin: 0 0 vw(20) 0;
        padding: vw(10) vw(25) vw(25) vw(25);
    }

    @include desktop {
        min-height: vh(140);
        margin: 0 0 vh(20) 0;
        padding: vh(10) vh(25) vh(25) vh(25);
    }
}