input,
textarea {
	padding: vm(8) vm(10);
	border: none;
	box-sizing: border-box;
	border: 1px solid $color-background;
	background-color: $color-white;
	transition: $transition-base;
	color: $color-black;
	font-weight: 400;
	font-style: normal;
	font-size: vm(16);
	line-height: vm(19);

	&:focus {
		outline: 1px solid $color-accent;
	}

	@include desktop {
		padding: vw(8) vw(10);
		font-size: vw(17);
		line-height: vw(21);
	}

	@include low-screen {
		padding: vh(8) vh(10);
		font-size: vh(17);
		line-height: vh(21);
	}
}